.glow-on-hover:hover>.glow-element {
  box-shadow: 0 4px 6px rgba(255, 105, 135, 0.11), 0 1px 3px rgba(255, 105, 135, 0.08);
}

.company-name-gradient-text {
  background: linear-gradient(to right, #fabc12c0, #EC528A, #7068AC);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  display: inline;
}

.icons-container {
  white-space: nowrap;
  overflow-x: auto;
  max-width: 100%;
  margin: 0 auto;
}


.icons-container::-webkit-scrollbar {
  display: none;
}
