/* .hover-target:hover .slide-box {
  transform: translateY(0);
}

.slide-box {
  transition: transform 0.3s ease-in-out;
  transform: translateY(100%);
} */
.hover-target:hover .slide-box {
  opacity: 1;
}

.slide-box {
  opacity: 0;
}

.hover-target:hover .hover-translate {
  transform: translateY(-10px);
}

.box__container {
  display: grid;
  grid-template-columns: repeat(4, 200px);
  position: relative;
  justify-content: center;
  align-items: center;
  /* If in a row only 2 boxes, then center them */


}

.grid__box {
  position: relative;
  border: 1px solid #000214;
  aspect-ratio: 1 / 1;
}

.GridSection_bl__6vURw {
  width: 1px;
  height: 1px;
  bottom: -1px;
  left: -1px;
}

.GridSection_br__AUY5M {
  width: 1px;
  height: 1px;
  bottom: -1px;
  right: -1px;
}

.GridSection_tr__NMCvH {
  width: 1px;
  height: 1px;
  top: -1px;
  right: -1px;
}

.GridSection_tl__AnAX2 {
  width: 1px;
  height: 1px;
  top: -1px;
  left: -1px;
}


.GridSection_tr__NMCvH:before {
  background: #fff;
  content: "";
  width: 1px;
  height: 9px;
  position: absolute;
  top: -4px;
}

.GridSection_tr__NMCvH:after {
  background: #fff;
  content: "";
  width: 9px;
  height: 1px;
  position: absolute;
  left: -4px;
}

.GridSection_tl__AnAX2:before {
  background: #fff;
  content: "";
  width: 1px;
  height: 9px;
  position: absolute;
  top: -4px;
}

.GridSection_tl__AnAX2:after {
  background: #fff;
  content: "";
  width: 9px;
  height: 1px;
  position: absolute;
  left: -4px;
}

.GridSection_br__AUY5M:before {
    background: #fff;
    content: "";
    width: 1px;
    height: 9px;
    position: absolute;
    top: -4px;
}
.GridSection_br__AUY5M:after {
  background: #fff;
  content: "";
  width: 9px;
  height: 1px;
  position: absolute;
  left: -4px;
}

.GridSection_bl__6vURw:before {
  background: #fff;
  content: "";
  width: 1px;
  height: 9px;
  position: absolute;
  top: -4px;
}

.GridSection_bl__6vURw:after {
  background: #fff;
  content: "";
  width: 9px;
  height: 1px;
  position: absolute;
  left: -4px;
}









*,
:after,
:before {
  box-sizing: border-box;
}

.GridSection_joint__3AfU7 {
  position: absolute;
  z-index: 1;
}